# Lite systems list for es_systems_lite.cfg
# Optimized for faster EmulationStation startup
# One system per line

arcade
hbmame
atomiswave
cps1
cps2
cps3
dreamcast
easyrpg
onscripter
fbn
gb
gbc
gba
gamegear
j2me
bbk
mame
pc
msx
msx2
naomi
neogeo
neocd
ngp
ngpc
n64
nds
nes
openbor
pymo
pcengine
pcfx
pico-8
psx
psp
pspminis
scummvm
sega32x
segacd
genesis
megadrive
saturn
snes
sfc
ports
windows
mplayer
music
moonlight
tools
imageviewer
wonderswan
wonderswancolor
