// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2022 Rockchip Electronics Co., Ltd.
 *
 */

#include "rk3562-evb1-lp4x-v10.dtsi"
#include "rk3562-linux.dtsi"
#include "rk3562-rk817.dtsi"

/ {
	model = "AISLPC-RG52Mini";
	compatible = "aislpc,rg52mini", "rockchip,rk3562";
};

&csi2_dphy0 {
	status = "disabled";

	ports {
		port@0 {
			/delete-node/ endpoint@1;
			/delete-node/ endpoint@2;
		};
	};
};

&route_rgb {
	status = "okay";
};

&mipi0_csi2 {
	status = "disabled";
};

&rkcif_mipi_lvds {
	status = "disabled";
};

&rkcif_mipi_lvds_sditf {
	status = "disabled";
};

&rkisp_vir0 {
	status = "disabled";
};

&usbdrd_dwc3 {
	extcon = <&u2phy>;
	/delete-property/ usb-role-switch;
	/delete-node/ port;
};

&usb_host0_ehci {
	status = "disabled";
};

&usb_host0_ohci {
	status = "disabled";
};

&rgb {
	status = "okay";

	ports {
		port@1 {
			reg = <0x01>;

			rgb_out_hdmi: endpoint {
				remote-endpoint = <&i2c4_rk628_in>;
			};
		};
	};
};

&rgb_in_vp0 {
	status = "okay";
};

&i2c0 {
	/delete-node/ fusb302@22;
};

&sdmmc1 {
	supports-rk912;
	supports-sdio;
	broken-cd;
};

&uart1 {
	pinctrl-0 = <&uart1m0_xfer>;
};

&pinctrl_rk8xx {
	rk817_ts_gpio1: rk817_ts_gpio1 {
		pins = "gpio_ts";
		function = "pin_fun1";
	};

	rk817_pin_ts: rk817_pin_ts {
		pins = "gpio_ts";
		function = "pin_fun0";
	};
};

&pinctrl {
	headphone {
		hp_det: hp-det {
			rockchip,pins = <0 0x07 0x00 &pcfg_pull_none>;
		};
	};

	hp2extspeaker {
		hp_con: hp-con {
			rockchip,pins = <3 0x13 0x00 &pcfg_pull_none>;
		};
	};

	charge-led {
		charge_led_gpio: charge-led-gpio {
			rockchip,pins = <3 0x00 0x00 &pcfg_pull_none>,
					<3 0x01 0x00 &pcfg_pull_none>;
		};
	};

	rk628 {
		rk628_reset: rk628-reset {
			rockchip,pins = <3 0x11 0x00 &pcfg_pull_none>;
		};

		refclk_pins: refclk-pins {
			rockchip,pins = <0 0x00 0x01 &pcfg_pull_none>;
		};
	};

	vcc3v3_lcd_n {
		lcd_pwren_h: lcd-pwren-h {
			rockchip,pins = <0 0x08 0x00 &pcfg_pull_none>;
		};
	};

	wireless-wlan {
		wifi_host_wake_irq: wifi-host-wake-irq {
			rockchip,pins = <0 0x0c 0x00 &pcfg_pull_none>;
		};

		wifi_poweren_gpio: wifi-poweren-gpio {
			rockchip,pins = <0 0x06 0x00 &pcfg_pull_none>;
		};
	};

	vcc-led {
		led_en_gpio: led-en-gpio {
			rockchip,pins = <0 0x17 0x00 &pcfg_pull_none>;
		};
	};

	buttons {
		gpio_key_pin: gpio-key-pin {
			rockchip,pins = <1 0x17 0x00 &pcfg_pull_none>,
					<1 0x18 0x00 &pcfg_pull_none>,
					<1 0x1d 0x00 &pcfg_pull_none>,
					<1 0x1e 0x00 &pcfg_pull_none>,
					<1 0x1b 0x00 &pcfg_pull_none>,
					<1 0x1f 0x00 &pcfg_pull_none>,
					<1 0x1c 0x00 &pcfg_pull_none>,
					<2 0x00 0x00 &pcfg_pull_none>,
					<0 0x15 0x00 &pcfg_pull_none>,
					<0 0x16 0x00 &pcfg_pull_none>;
		};

		moto_gpio: moto-gpio {
			rockchip,pins = <3 0x07 0x00 &pcfg_pull_none>,
					<3 0x08 0x00 &pcfg_pull_none>;
		};
	};
};

&rk817_codec {
	pinctrl-0 = <&i2s0m0_mclk &hp_con>;
	use-ext-amplifier;
	spk-mute-delay-ms = <0x64>;
	spk-ctl-gpios = <&gpio3 0x13 0x00>;
};

&rk817 {
	battery {
		compatible = "rk817,battery";
		ocv_table = <0xdac 0xdd0 0xdf5 0xe15 0xe2f 0xe4b 0xe6d 0xe97 0xec1 0xee8 0xf10 0xf30 0xf51 0xf77 0xf9d 0xfb6 0xfd0 0xfed 0x1000 0x1019 0x1058>;
		design_capacity = <0x1222>;
		design_qmax = <0x13f2>;
		bat_res = <0x50>;
		sleep_enter_current = <0x12c>;
		sleep_exit_current = <0x12c>;
		sleep_filter_current = <0x64>;
		power_off_thresd = <0xaf0>;
		zero_algorithm_vol = <0xf0a>;
		max_soc_offset = <0x3c>;
		monitor_sec = <0x05>;
		sample_res = <0x0a>;
		virtual_power = <0x00>;
		pinctrl-names = "default";
		pinctrl-0 = <&charge_led_gpio>;
		charge_red_gpio = <&gpio3 0x01 0x00>;
		charge_green_gpio = <&gpio3 0x00 0x00>;
		moto_gpio = <&gpio3 0x07 0x00>;
		moto_r_gpio = <&gpio3 0x08 0x00>;
	};

	charger {
		compatible = "rk817,charger";
		min_input_voltage = <0x1194>;
		max_input_current = <0xbb8>;
		max_chrg_current = <0x7d0>;
		max_chrg_voltage = <0x10cc>;
		chrg_term_mode = <0x00>;
		chrg_finish_cur = <0x12c>;
		virtual_power = <0x00>;
		dc_det_adc = <0x00>;
		otg5v_suspend_enable = <0x01>;
		extcon = <&u2phy>;
		gate_function_disable = <0x01>;
	};
};

&pwm3 {
	status = "disabled";
};

&rknpu {
	status = "disabled";
};

&rknpu_mmu {
	status = "disabled";
};

&rkcif {
	status = "disabled";
};

&rkcif_mmu {
	status = "disabled";
};

&rkisp {
	status = "disabled";
};

&rkisp_mmu {
	status = "disabled";
};

&pcie2x1 {
	status = "disabled";
};

&pwm6 {
	status = "disabled";
};

&u2phy_host {
	status = "disabled";
	/delete-property/ phy-supply;
};

&sai1 {
	status = "okay";
	pinctrl-0 = <&i2s1m1_mclk &i2s1m1_sclk &i2s1m1_lrck &i2s1m1_sdo0>;
};

&crypto {
	status = "okay";
};

&i2c2 {
	/delete-node/ gt1x@14;
	/delete-node/ hynitron@5a;
};

&i2c4 {
	/delete-node/ dw9714@c;
	/delete-node/ gc8034@37;
	/delete-node/ ov5695@36;

	i2c4_rk628: rk628@50 {
		status = "okay";
		compatible = "rockchip,rk628";
		reg = <0x50>;
		#sound-dai-cells = <0x00>;
		interrupt-parent = <&gpio3>;
		interrupts = <0x12 0x04>;
		enable-gpios = <&gpio3 0x10 0x00>;
		reset-gpios = <&gpio3 0x11 0x01>;
		pinctrl-names = "default";
		pinctrl-0 = <&rk628_reset &refclk_pins>;
		rk628-rgb-in;
		rk628-hdmi-out;

		port {
			i2c4_rk628_in: endpoint {
				remote-endpoint = <&rgb_out_hdmi>;
			};
		};
	};
};

&i2c5 {
	status = "disabled";
};

&gmac0 {
	status = "disabled";
};

&saradc1 {
	status = "okay";
	vref-supply = <&vcc_1v8>;
};

&dsi_panel {
	reset-delay-ms = <0x14>;
	enable-delay-ms = <0x78>;
	prepare-delay-ms = <0x14>;
	unprepare-delay-ms = <0x14>;
	disable-delay-ms = <0x14>;
	init-delay-ms = <0x14>;
	panel-init-sequence = [15 00 03 e0 ab ba 15 00 03 e1 ba ab 39 00 05 b1 10 01 47 ff 39 00 07 b2 0a 09 04 50 50 14 39 00 04 b3 56 52 00 39 00 04 b4 33 60 04 39 00 08 b6 b0 00 00 10 00 10 00 39 00 06 b8 05 12 29 49 48 39 00 27 b9 7c 70 65 5b 5b 4e 54 3d 56 53 52 6e 5a 60 4f 4b 3a 29 06 7c 6f 65 5b 5b 4e 54 3d 56 53 52 6e 5a 60 4f 4b 3a 29 06 39 00 11 c0 54 32 23 45 44 44 44 44 40 04 40 04 0f 00 00 c1 39 00 0b c1 33 94 02 87 80 04 92 04 54 00 39 00 0d c2 73 09 08 89 08 11 22 20 44 bb 18 00 39 00 17 c3 82 4a 08 23 00 04 06 01 0c 0e 10 12 02 02 02 02 02 02 02 02 02 02 39 00 17 c4 02 0b 09 23 00 05 07 01 0d 0f 11 13 02 02 02 02 02 02 02 02 02 02 39 00 04 c5 83 94 0f 15 00 03 c6 4c 4c 39 00 07 c8 11 00 31 42 34 16 15 00 03 ca cb 43 39 00 09 cd 0e 64 64 20 14 6b 06 b3 39 00 05 d2 e3 2b 38 08 39 00 0c d4 00 01 00 0e 04 44 08 10 00 00 00 39 00 09 e6 80 01 ff ff ff ff ff ff 39 00 06 f0 12 03 20 00 ff 15 00 02 f3 00 05 78 01 11 05 1e 01 29];
	reset-gpios = <&gpio0 0x14 0x01>;
	rotation = <90>;
};

&dsi_timing0 {
	clock-frequency = <0x493e000>;
	hactive = <0x2d0>;
	vactive = <0x500>;
	hfront-porch = <0x64>;
	hsync-len = <0x21>;
	hback-porch = <0x64>;
	vfront-porch = <0x14>;
	vsync-len = <0x02>;
	vback-porch = <0x1e>;
};

&adc_keys {
	/delete-node/ menu-key;
	/delete-node/ back-key;
};

&spdif_out {
	status = "disabled";
};

&vcc3v3_lcd_n {
	/delete-property/ gpio;
	/delete-property/ enable-active-high;
	pinctrl-names = "default";
	pinctrl-0 = <&lcd_pwren_h>;
	gpios = <&gpio0 0x08 0x01>;
	enable-active-low;
};

&rk817_sound {
	hp-det-gpio = <&gpio0 0x07 0x00>;
	io-channels = <&saradc0 0x04>;
	io-channel-names = "adc-detect";
	keyup-threshold-microvolt = <0x1b7740>;
	poll-interval = <0x64>;

	play-pause-key {
		label = "playpause";
		linux,code = <0xa4>;
		press-threshold-microvolt = <0x7d0>;
	};
};

&vcc5v0_usb_host {
	status = "disabled";
	/delete-property/ gpio;
	/delete-property/ pinctrl-names;
	/delete-property/ pinctrl-0;
};

/ {
	rk628-sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <0x80>;
		simple-audio-card,name = "rockchip,hdmi-rk628";
		status = "okay";

		simple-audio-card,cpu {
			sound-dai = <&sai1>;
		};

		simple-audio-card,codec {
			sound-dai = <&i2c4_rk628>;
		};
	};

	led-vcc {
		compatible = "regulator-fixed";
		regulator-name = "vcc-led";
		pinctrl-names = "default";
		pinctrl-0 = <&led_en_gpio>;
		gpios = <&gpio0 0x17 0x00>;
		enable-active-high;
	};

	wireless-wlan {
		wifi_chip_type = "rk915";
		pinctrl-0 = <&wifi_host_wake_irq &wifi_poweren_gpio>;
		WIFI,host_wake-gpios = <&gpio0 0x0c 0x00>;
		WIFI,poweren-gpios = <&gpio0 0x06 0x01>;
		sdio_vref = <0x708>;
	};

	wireless-bluetooth {
		status = "disabled";
	};

	spdif-sound {
		status = "disabled";
	};

	/delete-node/ vcc-mipicsi0-regulator;

	play_joystick {
		compatible = "play_joystick";
		io-channels = <&saradc0 0x02 &saradc0 0x03 &saradc0 0x05 &saradc0 0x06 &saradc1 0x01 &saradc1 0x04 &saradc1 0x00 &saradc1 0x02 &saradc1 0x03 &saradc1 0x05 &saradc1 0x06 &saradc1 0x07>;
		io-channel-names = "button0\0button1\0button2\0button3\0l2-abs\0r2-abs\0left-key\0right-key\0down-key\0b-key\0x-key\0y-key";
		joysticks_numbers = <0x02>;
		l_x_swap;
		l_y_swap;
		axis-min-value-mv = <0xfa>;
		axis-max-value-mv = <0x60e>;
		axis-dead-zone-l = <0x316>;
		axis-dead-zone-h = <0x3f2>;
		axis-division-value = <0x3c>;
		keyup-threshold-microvolt = <0x1b7740>;
		poll-interval = <0x10>;
		debounce-interval = <0x64>;
		pinctrl-names = "default";
		pinctrl-0 = <&gpio_key_pin &moto_gpio>;
		moto-gpio = <&gpio3 0x07 0x00>;
		moto-r-gpio = <&gpio3 0x08 0x00>;
		gpio-key-num = <0x0a>;
		key-gpios = <&gpio1 0x17 0x01 &gpio1 0x18 0x01 &gpio1 0x1d 0x01 &gpio1 0x1e 0x01 &gpio1 0x1b 0x01 &gpio1 0x1f 0x01 &gpio1 0x1c 0x01 &gpio2 0x00 0x01 &gpio0 0x15 0x01 &gpio0 0x16 0x01>;
		key-gpios-map = <0x136 0x220 0x137 0x130 0x13a 0x13b 0x66 0x1d0 0x13d 0x13e>;
		l2-r2-min-value-mv = <0x32>;
		l2-r2-max-value-mv = <0x320>;
		l2-r2-division-value-mv = <0x4b>;
		l2_r2_abs;

		left-key {
			label = "left-key";
			adc-chan = <0x00>;
			linux,code = <0x222>;
			press-threshold-microvolt = <0x13880>;
		};

		right-key {
			label = "right-key";
			adc-chan = <0x02>;
			linux,code = <0x223>;
			press-threshold-microvolt = <0x13880>;
		};

		down-key {
			label = "down-key";
			adc-chan = <0x03>;
			linux,code = <0x221>;
			press-threshold-microvolt = <0x13880>;
		};

		b-key {
			label = "b-key";
			adc-chan = <0x05>;
			linux,code = <0x131>;
			press-threshold-microvolt = <0x13880>;
		};

		x-key {
			label = "x-key";
			adc-chan = <0x06>;
			linux,code = <0x133>;
			press-threshold-microvolt = <0x13880>;
		};

		y-key {
			label = "y-key";
			adc-chan = <0x07>;
			linux,code = <0x134>;
			press-threshold-microvolt = <0x13880>;
		};
	};
};

&vdd_npu {
	status = "disabled";
};
